# Ignore Python artifacts
__pycache__

# Ignore C artifacts
*.o

# Ignore Slurm artifacts
*.out

# Ignore animations
*.mp4

# Ignore pdflatex artifacts
*.aux
*.log

# Ignore minted artifacts
_minted-*

# Ignore Bibtex artifacts
*.bbl
*.bcf
*.blg
*.run.xml
*.pdf
